<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH2Jq3O2rEg9l5R0Mb1Mz42TqqCu9H00Q</string>
	<key>GCM_SENDER_ID</key>
	<string>214232059358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.dvcr.app</string>
	<key>PROJECT_ID</key>
	<string>drapeau-vert-app</string>
	<key>STORAGE_BUCKET</key>
	<string>drapeau-vert-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:214232059358:ios:3b2b4fe46bcdd7e7cfe14f</string>
</dict>
</plist>
