<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>DZGJ378448</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>fr.dvcr.app</key>
        <string>DVCR AppStore</string>
        <key>fr.dvcr.app.DvcrLiveActivity</key>
        <string>DVCR LiveActivity AppStore</string>
    </dict>
</dict>
</plist>
